@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*CAMBIOS GENERALES*/
*{
    margin: 0;
    padding: 0;
}

 body{
    /* ESTO ES PARA QUE NO SALCA LA BARRA DE LA DERECHA   */
     overflow: hidden;
     font-family: 'Press Start 2P', cursive !important;
}

#titulo{
    width: 55vw;
    height: 50vh;
    margin-top: -40px;
}

/*PROPIEDADES DE VISTA*/
.hidden{
    visibility: hidden;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    opacity: 0;
}

.visible{
    visibility: visible;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;

    opacity: 1;
}

/*GAME - MENU -FRAME*/

main{
    background-image: url("../img/background.jpg");
    background-size :'cover';
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.frame{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
   
}
#main p,p{

    text-shadow: 0px 0px 8px rgba(24, 175, 32, 0.897);
    font-size: 25px;
    color: #EEE;
}

.frame .main-button{
    justify-content: center;
    -webkit-transition: border-radius 1s, text-shadow 1s, color 1s;
    transition: border-radius 1s, text-shadow 1s, color 1s;
    font-size: 1.5rem;
    padding: 10px;
    display: block;
    width: 20vw;
    margin: 10px 10px;
    height: 10vh;
    text-align: center;
    background: none;
    text-shadow: 0px 0px 8px rgba(24, 175, 32, 0.897);
    color: #EEE;
    border: 1px solid #dedede;
    border-radius: 3px;
    text-decoration: none;
    border-color: #8dc5da #76b7cf #63abc7;
    box-shadow: 0px 3px 5px rgba(255,255,255,0.5);
}

.pepi-card a {
    text-decoration: none;
    color: #EEE;
    font-size: 10px;
}
.frame .main-button:hover{
    border-radius: 20px;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    color: #ffffff;
    background-color: #1e9b288c;
}

.frame  .main-button:active{
    text-shadow: 0px 0px 20px #00ff00;
}

#game{
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-container{
    display: flex;
    position: relative;
}

 #pepita-menu{
    position: absolute;
    left:20%;
} 

#img-pepita{
    height: 30vh;
   
}

.botones-principales {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoCodeQueens{
    height: 80px; 
    animation: sizeCQ 1s linear infinite;
}
.cq{
    margin-top: -30px;   
}
@keyframes sizeCQ{

    0%{
      transform:  scale(1);
    }
    50%{
        transform:   scale(1.1);
    }
    100%{
        transform:  scale(1);
    }

}

/* -------------------------FLECHAS-------------------------- */
.container-flechas{
position: absolute;
top: 40vh;
left: 2px;
}


button:active {
    outline: none!important;
    border: none!important;
}
button:focus {
    outline:0!important;
    border-color: inherit!important;
    -webkit-box-shadow:none!important;
    box-shadow: none!important;
}
button::-moz-focus-inner{
    border:0!important;
}

.uno, .dos, .tres{
    margin: 0;
    height: 2.5rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.dos button{
    margin: 0 1rem;
    
}
.flechas{
    background: none;
    border: none;
    font-size: 2.5rem;
}
i{
    color: rgb(74, 255, 246);
    border: 3px solid black;
    border-radius: 50%;
}
i:hover{
    color: white!important;
    border-color: rgba(47, 121, 63, 0.548)!important;
}


.siguiente, #tryAgain{
    position: absolute;
    top: 45vh;
    right: 1vw;
    border-radius: 10px;
    padding: 10px;
    background: lightskyblue;
    border-width: 5px;
    width: 13.5vw;
    text-align: center;
    

}

#countdown{
    color: white;
    text-align: center;
    position: absolute;
    top: 30vh;
    right: 5vw;
    border-radius: 10px;
    padding: 10px;
    background: brown;
    border-width: 5px;
    width: 5vw;
}
.siguiente:hover{
   
    background-color: white;
}
.siguiente a{
    width: 100%;
    height: 100%; 
   color: black!important;
   text-decoration: none!important; 
   font-family: 'Press Start 2P', cursive !important;

   
}
/* -----------------INSTRUCCIONES-------------------------- */
#instrucciones{
color: white;
width: 80vw;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 1rem;
border: 2px solid black ;
background-color: brown;
border-radius: 10px;
padding: 15px;
text-align: center;
}
#instrucciones p{
    font-size: 1rem;
    margin: 0!important;
    
}

/* ----------------------------canvas 1 ----------------------------*/

.canvas1{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nivel-1{
    background-image: url("../img/background.jpg");
    background-size: cover;
}
/*----------------------------modal-----------------------------*/
.modal-content{
    background-color: rgba(138, 93, 211, 0.986)!important;
    color: black!important;
}

.modal-content  p{
    border: none;
}
.modal-title{
    color: white!important;
    
}
.card img{
  
   height: 40%;
  max-height: 30%!important;
   background-size :'cover';
}
.close{
    color: black!important;
    text-shadow: none!important;
}
.close:hover{
    color:white !important;
}
.btn-primary{
background: none  !important;
border:none  !important ;
}
.btn-primary:hover{
  background:   none  !important
}
.link-modal{
    color: rgb(131, 5, 180);
    font-size: 3rem;
    border: none
}
.link-modal:hover{
    color: rgb(76, 17, 99)!important;
    border: none;
}
.janni{
    margin: 5rem 0 1rem 0;
}

/* SKINS */

#cont{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skin{
    height: 30vh;
}
#contskin{
    padding-top: 15%;
    width: 100vw;
}

.skin:hover{
    transform: scale(1.25);
}

.main-button-skin:hover{
    border-radius: 20px;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    color: #ffffff;
    background-color: #1e9b288c;
}

/* NIVEL CINCO */
#canvacinco{
    display: flex ;
justify-content: center;
align-items: center;
flex-direction: column;
}

.pmodal{
    text-shadow: none;
}
/* NIVEL SEIS */
#seis{
    width: 100vw;
    margin: 0 ;
    /* background-image: url("../img/backgroundnivelcinco.jpg"); */
    background-image: url("../img/background.jpg");
    /* text-align: center; */
    font-family: 'Press Start 2P', cursive !important;
}

#canvaseis {
    position: absolute;
    margin-left: 15vw;
    text-align: center;
    border: groove 4px red;
    /* background: black; */
    box-shadow: 10px 10px 10px #232342;
}
#space{
    padding: 0.2vw 1.3vw;
    color: brown;
    background-color:white;
    /* margin:0.5vw; */
    border: whites 2px solid;
    border-radius: 3px;
}
.spa{
    display: inline;
    margin: 0vw 0.5vw;
}
#instru>i{
    font-size: 1.7rem;
    color: white;
    border: 3px solid black;
    /* border-radius: 50%; */
}
.no{
       text-shadow: none;
}
.m-body,.m-footer{
  
    background-color: rgba(138, 93, 211, 0.356)!important;
}


.he{
    display: block !important;
}